html, body {
	font-family: "Lato";
	background: #e7e7e7;
}

.banner-strip {
	background-image: url(../images/pat2.png); background-position: initial initial; background-repeat: initial initial;
	min-height: 10px;
}

.banner {
	width:100%;
	border-bottom: 6px solid #444444;
	padding-bottom: 18px;
	margin-bottom: 4px;
}

.banner .title h4 {
	font-family: "Raleway";
	text-align: center;
	padding: 46px;
	font-size: 10pt;
	color: #333333;
	font-weight: 700;
	transition: 2s ease-in-out;
}

.banner .slogan {
	font-family: "Raleway";
	font-size: 16pt;
	text-align: center;
	font-weight: 300;
	font-style: oblique;
	color: #333333;
}

b {
	font-weight: bold;
}

.sub-banner {
	border-top: 3px solid #444444;
	padding: 24px;
	font-size: 16pt;
	border-bottom: 2px solid #444444;
}

.sub-banner table {
	text-align: center;
	width: 100%;
}

.vol {
	text-align: left;
}

.mid-date {
}

.price {
	text-align: right;
}

.col1 {
	width: 21%;
	float: left;
	padding-right: 3%;
	border-right: solid 2px black;
	height: 240px;
	overflow: hidden;
}

.col2 {
	width: 25%;
	float: left;	
}

.col3 {
	width: 25%;
	float: left;
}

.col4 {
	width: 25%;
	float: left;
}

.article {
	min-width: 100%;
	padding: 12px;
}

.article .article-img {
	overflow: hidden;
	max-height: 400px;
	width: 100%;
	padding-bottom: 10px;
}

.article .article-title  {
	width: 100%;
	font-size: 22pt;
}

.article .article-title h5 {
	font-weight: 400;
}

.article .article-text {
	padding-top: 10px;
}

.article .article-text p {
	font-size: 12pt;
	line-height: 1.2em;
}

.article-title a {
	/*text-decoration: none;*/
	color: black;
}

.news-container {
	opacity: 0;
	transition: 2s ease-in-out;
}